@charset 'utf-8';
@import 'settings';
@import 'foundation';
@import 'motion-ui';
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-breadcrumbs;
@include foundation-visibility-classes;
@include foundation-float-classes;

.clearfix {
  @include clearfix;
}

body {
  background-image: url("../img/Hintergrundbild_Createschools.jpg");
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.outer {
  background: #fff;
  margin: 0 auto;
  max-width: 80rem;
}

.page-wrap {
  max-width: $global-width;
  margin: 0 auto;
}

.section {
  max-width: rem-calc(1280);
  margin: 0 auto;
}

a {
  color: #39686a;
}

p {
  margin-bottom: 0;
}

.header {
  position: relative;
}

.logo {
  margin: 2.5%;
  position: absolute;
  width: 27.5%;
  max-width: 12.25rem;
}

.logo a {
  display: block;
}

.nav-bar {
  position: relative;
  text-transform: uppercase;
}

.menu-btn {
  padding: 0.4rem;
  background: #39686a;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  @media screen and (min-width: 64em) {
    display: none;
  }
}

.menu-btn span {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.menu-btn:hover {
  background: #213d3e;
}

#main-menu {
  margin: 0;
  @media screen and (min-width: 64em) {
    display: block;
    margin: -1.4rem 0 0;
  }
}

#main-menu li {
  list-style-type: none;
  @media screen and (min-width: 64em) {
    float: left;
    width: 8.4rem;
    text-align: center;
  }
}

#main-menu li a {
  text-decoration: none;
  line-height: 1;
  color: #39686a;
  display: block;
  padding: 1rem;
  border-width: 0 0 0 3rem;
  border-style: solid;
  transition: background 0.25s;
  @media screen and (min-width: 64em) {
    border-width: 1.4rem 0 0;
    padding: 0.5rem;
  }
}

#main-menu .orange a {
  border-color: #f29400;
}

#main-menu .orange a:hover {
  background: #ffedd0;
}

#main-menu .rose a {
  border-color: #986566;
}

#main-menu .rose a:hover {
  background: #e3d5d5;
}

#main-menu .blue a {
  border-color: #204773;
}

#main-menu .blue a:hover {
  background: #d2e1f3;
}

#main-menu .beige a {
  border-color: #9a9966;
}

#main-menu .beige a:hover {
  background: #deddcc;
}

#main-menu .red a {
  border-color: #981134;
}

#main-menu .red a:hover {
  background: #fbdfe7;
}

#main-menu .turquoise a {
  border-color: #9ab3af;
}

#main-menu .turquoise a:hover {
  background: #dee6e5;
}

#lang-menu {
  position: absolute;
  top: 0;
  right: 0;
  @media screen and (min-width: 64em) {
    position: relative;
    max-width: 55.5rem;
    margin: 0 auto;
    padding-top: 1.4rem;
  }
}

#lang-menu li {
  float: right;
}

#lang-menu li a {
  text-decoration: none;
  color: #39686a;
  display: block;
  padding: 1rem;
  @media screen and (min-width: 64em) {
    padding: 0.5rem;
  }
}

#lang-menu a:hover {
  background: #e4f0f1;
}

.main {
  margin-top: 2.8rem;
  position: relative;
  @media screen and (max-width: 40em) {
    font-size: 90%;
  }
}

.facebook {
  position: absolute;
  display: block;
  right: 9rem;
  @media screen and (max-width: 71.5rem) {
    right: 1rem;
    top: -2.8rem;
  }
}

.facebook img {
  border-radius: 40px;
}

.section {
  max-width: 55rem;
  display: flex;
  flex-flow: row wrap;
}

article {
  margin-left: auto;
  margin-right: auto;
}

.tile-items {
  margin-left: auto;
  margin-right: auto;

  .tile-item {
    display: block;
    max-width: 50%;
    height: 27rem;
    flex: 0 0 50%;
    background-color: #39686a;
    border: 0.4rem solid #fefefe;
    position: relative;
    padding: 0;
    @media screen and (max-width: 48em) {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

.tile-item.head,
.tile-item.head-ttl {
  text-align: center;
  overflow: hidden;
}

.tile-item.head-ttl.orange {
  background: #f29400;
  text-align: left;
}

.tile-item.head.schule {
  background-image: url("../img/Start_Schule-486x475.jpg");
  background-repeat: no-repeat;

  .t-ttl {
    font-size: 3.8rem;
    padding-top: 67.5%;
  }
}

.tile-item.head.team {
  background-image: url("../img/home_2.jpg");
  background-repeat: no-repeat;

  .t-ttl {
    font-size: 3.8rem;
    padding-top: 67.5%;
  }
}

.tile-item.head-ttl.turquoise {
  background: #9ab3af;
  background-image: url("../img/home_3.png");
  background-repeat: no-repeat;

  .t-ttl {
    padding-top: 60%;
  }
}

.tile-item.head-ttl.rose {
  background: #986566;
  background-image: url("../img/home_4.png");
  background-repeat: no-repeat;

  .t-content {
    padding-bottom: 0.1rem;

    .t-ttl {
      padding-top: 60%;
    }
  }
}

.tile-item.head-ttl.standort {
  background-image: url("../img/Start_Standort-486x475.jpg");
  background-repeat: no-repeat;

  .t-ttl {
    padding-top: 60%;
  }
}

.t-link {
  display: block;
  transition: background 0.333s;
  padding: 10% 1.4rem;
}

.t-content {
  color: #fefefe;
}

.t-sub,
.t-ttl {
  font-size: 1.6rem;
  @media screen and (min-width: 40em) {
    font-size: 1.2rem;
  }
}

.t-ttl {
  text-transform: uppercase;
  font-size: 2.2rem;
}

.t-sub {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.quote {
  text-align: center;
  border-left: none;
  padding: 3.5rem 0 0;

  .inner-qoute {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  p {
    font-size: 1.2rem;
    color: #39686a;
  }

  a,
  footer {
    font-size: 0.8rem;
    color: #9ab3af;
  }

  a:hover {
    text-decoration: underline;
  }

  footer {
    font-size: 1rem;
  }
}

.footer {
  border-bottom: 1.4rem solid;
  border-color: #39686a;
}

.meta-menu {
  margin-bottom: 0;
  padding-top: 8.8rem;

  a {
    display: block;
    padding: 1rem;
    line-height: 1;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 40em) {
  .meta-menu li {
    display: inline-block;
  }
}

.meta-menu a:hover {
  color: #213d3e;
}
