@charset 'utf-8';
@import 'settings';
@import 'foundation';
@import 'motion-ui';
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-breadcrumbs;
@include foundation-visibility-classes;
@include foundation-float-classes;

.clearfix {
  @include clearfix;
}

body {
  background-image: url("../img/Hintergrundbild_Createschools.jpg");
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.outer {
  overflow: hidden;
  width: 100%;
  background: #fff;
  margin: 0 auto;
  max-width: 80rem;
}

.page-wrap {
  max-width: $global-width;
  margin: 0 auto;
}

.section {
  max-width: rem-calc(1280);
  margin: 0 auto;
}

a {
  text-decoration: underline;
}

//header
.header {
  margin: 0 auto;
  max-width: 80rem;
  position: relative;
}

.logo {
  display: block;
  left: 0;
  max-width: 12rem;
  width: 25%;
  margin: 2%;
  position: absolute;
  a {
    display: block;
  }
}

.header img {
  width: 100%;
  height: auto;
}

.nav-bar {
  position: relative;
  margin: 0 auto;
  max-width: 80rem;
  font-size: .8rem
}

.menu-btn {
  padding: .5rem;
  background: #39686a;
  transition: background .25s;
}
